---
---

{% assign indent = '
    ' %}
{% assign newline = '
' %}

<head>
  <link rel="stylesheet" href="screen.css">
</head>

<main>
  <header>
    <img id="logo" src="images/logo.png" alt="Main logo of the website">
    <span>
      <h1>{{site.title}}</h1>
      <br>
      <small>by <a href="http://feram.co">feram.co</a></small>
    </span>
  </header>

  <p>
    See all <a href="http://scikit-image.org">scikit-image</a> methods
    for image creation &amp; manipulation and their output at a glance.
  </p>

  <p>
    Click on the code to get to its official documentation.
  </p>

  <hr>

  {% for category in site.data.categories %}
    <section>
    <h2><code>{{category.name}}</code></h2>

    {% if category.description %}
      <div class="description">
        <p>Use methods in the "{{category.name}}" module like this:</p>
        {% highlight python %}{{category.description | strip}}{% endhighlight %}
      </div>
    {% endif %}

    {% for subcategory in category.children %}
      <h3><code>{{subcategory.name}}</code></h3>
      <ul>
        {% for method in subcategory.children %}
          {% assign api_url = 'http://scikit-image.org/docs/dev/api' %}
          {% assign r_brace = '}' %}

          {% capture method_name %}
            {{category.name}}.{{subcategory.name}}.{{method.name}}
          {% endcapture %}

          {% capture method_url %}
            {{api_url}}/skimage.{{category.name}}.{{subcategory.name}}.html
            #skimage.{{method_name}}
          {% endcapture %}

          {% capture args_str %}
            {{method.args | remove: '"' | remove: '>' | remove: '{' | remove: r_brace}}
          {% endcapture %}

          {% assign full_args_str = args_str | prepend: ' ' %}
          {% assign full_args_joined = full_args_str | split: ' ' | join: indent %}

          {% capture code %}
            {{method.name}}({{indent}}{{full_args_joined}},{{newline}})
          {% endcapture %}

          <li>
            <a href="{{method_url | strip_newlines | remove: ' ' | replace: '..', '.'}}">
              {% highlight python %}{{code | strip}}{% endhighlight %}
            </a>
            <img
              src="images/source/{{method.args.image | default: 'blank'}}.png"
              alt="Input image">
            <img
              src="images/generated/{{method_name | replace: '.', '/' | strip}}_out.png"
              alt="Output image">
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
    </section>
    <hr>
  {% endfor %}

</main>
